<div class="sidebar testscroll">
  <div class="brand-box theme-header-color">
    <span class="brand-logo">
      <img class="wow pulse animated w-100 " data-wow-delay="200ms" data-wow-iteration="infinite" data-wow-duration="2s"
        src="assets/images/whitelogo.png" />
    </span>
  </div>
  <div class="menu-list">
    <ul class="list-unstyled">
      <li class="active"><a class="fa fa-home" routerLinkActive="active" routerLink="/admin/dashboard"><span
            class="ml-3">Dashboard</span></a></li>

      <li class="active"><a class="fa fa-hotel" routerLink="hotels" routerLinkActive="active"><span
            class="ml-3">Hotels</span></a></li>

      <li class="active"><a class="fa fa-product-hunt" routerLink="/admin/packages" routerLinkActive="active"><span
            class="ml-3">Packages</span></a></li>
      <li class="active"><a class="fa fa-copyright" routerLink="/admin/manage-content" routerLinkActive="active"><span
            class="ml-3">Content Management</span></a></li>
    </ul>
  </div>
</div>