//scss adnan

#login-form{ 
    label{
      font-size:16px;
      
    }
    input{
      font-family: inherit;
      
      font-size: 16px;    
    }
    
  }
  .banner-img{
    background-color: #150020;
   } 
  
  #modal-header{
    .frgtpass-head {
      h4 {
        font-size: 24px;
        margin:20px 0 37px;
      }
  }
  }
  #forgot-pass-modal{
    input{
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #d2d2d2;
      width:94%
    }
    label{
      font-size: 12px;
    }
  }
  
  .logo-height{
    height: 40px;
  }
  
  .hv-100{
    height:100vh;
  }
  .btn-round{
    border-radius: 25px!important;
    
  }
  .bg-black{
    background-color: #000000;
    color: #ffffff;
  }
  .bdr-r-25{
    border-radius: 25px!important;
    .bdr-header{
      border-top-right-radius: 25px;
      border-top-left-radius: 25px;
    }
  }