<section id="login-form" class="container-fluid banner-img">
  <div class="row hv-100 justify-content-center align-items-center">
    <div class="col-md-4 p-4 wow bounceInUp">
      <!-- form card login -->
      <div class="card bdr-r-25">
        <div class="card-header bdr-header bg-black d-flex align-items-center justify-content-center">
            <img class="w-100 logo-height " src="assets/images/noqaty_logo.svg"/>   
                   <!-- <h2 class="m-0 text-white">Brand -Logo </h2> -->
        </div>
        <div class="card-body">
          <form class="form"  autocomplete="off"  >
            <div class="form-group">
              <label class="font-weight-bold" for="uname1">New Password</label>
              <input type="text" class="form-control"  >                
            </div>
            <div class="form-group">
              <label class="font-weight-bold mt-2">Confirm Password</label>
              <input type="password" class="form-control" autocomplete="new-password" >                                 
            </div>
            
            <div class="d-flex justify-content-between align-items-center mt-3">
              <button type="submit" class="mr-3 btn-round form-control btn theme-button"
                id="btnLogin">
                <span class="ml-2 ">Submit</span>
              </button>
              <button type="submit"class="btn-round  form-control btn btn-secondary"
              id="btnLogin">
              <span class="ml-2 ">Cancel</span>
            </button>
            </div>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->
    </div>
  </div>
  <!--/row-->
<!--/container-->
</section>