<div class="theme d-flex">
  <div class="sidenav-wrapper">
    <!-- App Sidenav -->
    <app-sidenav></app-sidenav>
  </div>
  <div class="main-container ml-auto">
    <div class="header-wrapper">
      <!-- App Header -->
      <app-header></app-header>
    </div>
    <div class="content-wrapper">
      <!-- Switch  modules -->
      <div class="content-inner">
        <router-outlet></router-outlet>
      </div>
      <div class="footer-wrapper">
        <!-- App Footer -->
        <app-footer></app-footer>
      </div>
    </div>
  </div>
</div>